#toggleSidebar {
    display: none;

    &:checked {
        +#sidebar {
            width: 0px;
            transform: translateX(-300px);
        }
    }
}

// sidebar section started

.sidebar {
    width: 300px;
    border-right: 1px solid $border-color;
    transition: all 0.5s linear;

    ul {
        text-align: $text;
        padding-left: 35px;

        li:hover {
            background-color: hsl(132deg 63% 97%);
        }

    }
    .side-top li {
       @include li-icon-style();
        

        .li-icons {
            width: 40px;
        }

        .ul-icons:hover {
            color:$li-icon-hover;
        }

    }

    .side-bottom {
        /* padding:10px 10px; */
        margin-bottom: 250px;

        li {
           @include li-icon-style();
           
            .li-icons {
                width: 40px;
            }

            .ul-icons:hover {
                color: $li-icon-hover;
            }
        }
    }

    h2 {
        padding: 15px 35px;
        text-align: $text;
    }

}

// sidebar section end