/* universal selector */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow-x: $overflow;
}

/* global css */

.overflow-hidden {
    overflow: $overflow;
}

.overflow-auto {
    overflow: auto;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.justify-evenly {
    justify-content: space-evenly;
}

.jusify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.cursor-pointer {
    cursor: pointer;
}

.icons {
    font-size: 30px;
    color: grey;
}

.ul-icons{
    font-size:20px;
    color:grey;
}

.h-100 {
    height: 100%;

}

.w-100 {
    width: 100%;
}



/* .overflow-auto {
    overflow: auto;
}

.flex-grow {
    flex-grow: 1;
} */

.icons:hover {
    color: $icons-hover;
}

// .icons:hover {
//     color: #4492fa;
// }

.bg-primary {
    background-color:$primary-color;
}


.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}